<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @article.area_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @article.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @article.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @article.longitude %>
</p>

<p>
  <strong>Articlestructure:</strong>
  <%= @article.articlestructure %>
</p>

<p>
  <strong>Article age:</strong>
  <%= @article.article_age %>
</p>

<p>
  <strong>Floor plans:</strong>
  <%= @article.floor_plans %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @article.sale %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @article.rent %>
</p>

<p>
  <strong>Refurbishment:</strong>
  <%= @article.refurbishment %>
</p>

<p>
  <strong>Sewer connection:</strong>
  <%= @article.sewer_connection %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @article.parking %>
</p>

<p>
  <strong>Optical cable:</strong>
  <%= @article.optical_cable %>
</p>

<p>
  <strong>Catv:</strong>
  <%= @article.catv %>
</p>

<p>
  <strong>Note:</strong>
  <%= @article.note %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
